:root {
	--color-bg: #f0f0f0;
	--color-primary: #3498db;
	--color-secondary: #e74c3c;
	--color-text: #2c3e50;
	--color-light: #ecf0f1;
	--color-dark: #34495e;
	--color-highlight: rgba(151, 151, 151, 0.9);
}

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: var(--color-bg);
	color: var(--color-text);
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 20px;
	gap: 20px;
    flex-wrap: wrap;
	counter-reset: score var(--score, 0);
    width: 100%;

    > * {
        max-width: 100%;
    }

    > table {
        max-width: 90vmin;
        max-height: 90vmin;
    }

	@media (min-width: 768px) {
		flex-direction: column;
        flex-wrap: nowrap;
	}


	&::after {
		content: "Score: " counter(score);
		position: fixed;
		top: 10px;
		right: 10px;
		padding: 10px;
		font-size: 1.2em;
		color: var(--color-light);
		background-color: var(--color-dark);
		border-radius: 5px;
	}

	> button {
		position: fixed;
		top: 10px;
		left: 10px;
		padding: 10px;
		font-size: 1.2em;
		color: var(--color-light);
		background-color: var(--color-dark);
		border: none;
		border-radius: 5px;
		cursor: pointer;
	}
}

.app > div {
    display: flex;
    flex-direction: column;
    background-color: var(--color-light);
    border: 1px solid var(--color-dark);
    padding: 20px;
    border-radius: 8px;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    
    > div {
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

table {
	border-collapse: collapse;
	background-color: var(--color-light);
	table-layout: fixed;
	border-radius: 8px;
}
.main table{
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

td {
	border: 1px solid var(--color-dark);
	background-color: var(--color-primary);
	width: 8vmin;
	height: 8vmin;
	transition: background-color 0.3s ease;

	&.dark:not(.filled) {
		opacity: 0.1;
	}

	&.light:not(.filled) {
		opacity: 0;
	}

	&.highlight {
		position: relative;
		background: var(--color-highlight);
		opacity: 1 !important;
	}

	&.empty {
		background: transparent;
		pointer-events: none;
		border: 0;
	}
}

table.block {
	transform: translate(calc(var(--dx, 0) * 1px),
			calc(var(--dy, 0) * 1px));
	background: transparent;

	&.used {
		visibility: hidden;
		pointer-events: none;
	}

	&.disabled {
		opacity: 0.5;
		pointer-events: none;
	}
}

form.score::before {
	content: "You have scored " counter(score) " points";
	display: block;
	text-align: center;
	margin-bottom: 10px;
	font-size: 1.2em;
}

dialog {
	border-radius: 10px;
	width: 90%;
	max-width: 500px;
	border: 0;
	padding: 20px;
	background-color: var(--color-light);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

	font-family: sans-serif;

	h1 {
		text-align: center;
		font-size: 1.8em;
		margin-bottom: 20px;
	}

	h2 {
		margin: 10px 0;
		font-size: 1.4em;
	}

	input[type="color"] {
		visibility: hidden;
		width: 0;
		position: absolute;
	}

	label.color {
		display: block;
		height: 40px;
		margin: 15px 0;
		border-radius: 8px;
		outline: 2px solid var(--color-dark);
		background-color: var(--color-primary);
		cursor: pointer;
	}

	button {
		margin: 20px auto 10px;
		display: block;
		background-color: var(--color-primary);
		color: var(--color-light);
		border: 1px solid var(--color-dark);
		border-radius: 5px;
		padding: 10px 20px;
		outline: none !important;
		font-size: 1.1em;
		cursor: pointer;
		transition: background-color 0.3s ease;

		&:hover {
			background-color: var(--color-secondary);
		}
	}

	&::backdrop {
		background: rgba(0, 0, 0, 0.5);
	}
}
